@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-satoshi);
  --font-epilogue: var(--font-epilogue);
  --animate-scaleIn: scaleIn 0.3s ease-out;
}

@keyframes scaleIn {
  from {
    transform: translateX(-50%) scale(0);
  }
  to {
    transform: translateX(-50%) scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-epilogue);
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.preloader-path {
  stroke: #ff5a1f;
  stroke-width: 1.5px;
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  fill-opacity: 0;
  animation: draw-svg 3.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes draw-svg {
  0% { stroke-dashoffset: 300; fill-opacity: 0; stroke-opacity: 1; stroke: #ff5a1f; }
  72% { stroke-dashoffset: 0; fill-opacity: 0; stroke-opacity: 1; stroke: #ff5a1f; }
  100% { stroke-dashoffset: 0; fill-opacity: 1; stroke-opacity: 0; }
}

@keyframes liquidMove {
  0% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }

  25% {
    transform: translate(40px, -30px) scale(1.1) rotate(8deg);
  }

  50% {
    transform: translate(-30px, 20px) scale(0.95) rotate(-6deg);
  }

  75% {
    transform: translate(20px, 40px) scale(1.05) rotate(4deg);
  }

  100% {
    transform: translate(0px, 0px) scale(1) rotate(0deg);
  }
}

.liquid-gradient {
  animation: liquidMove 18s ease-in-out infinite alternate;
  will-change: transform;
  transform-origin: center;
  backface-visibility: hidden;
}