@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f0f0f;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-satoshi);
  --font-mono: var(--font-satoshi);
  --font-epilogue: var(--font-epilogue);
  --animate-scaleIn: scaleIn 0.3s ease-out;
}

@keyframes scaleIn {
  from {
    transform: translateX(-50%) scale(0);
  }
  to {
    transform: translateX(-50%) scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-epilogue);
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}